@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--NOMBRE Y DESCRIPCION DEL PROYECTO-->
<div class="text-center">
    <h1 class=display-4>Practica N#3</h1>
</div>
<div class="text-center">
    <h1 class=display-4>Sistema Web de Registro de Empleado</h1>
</div>
<div class="text-center">
    <h1 class=display-4>Integrantes:</h1>
</div>
<div class="text-center">
    <h2>Edgar Alejandro Sanchez Rubin de Celis</h2>
</div>
<div class="text-center">
    <h2>Nelly Elizabeth Lara Benitez</h2>
</div>
<div class="text-center">
    <h2>Orlando Edizon Del Villar Silva</h2>
</div>
<div class="text-center">
    <h2>Carlos Eduardo Cortez Centellas</h2>
</div>
<div class="text-center">
    <h1>Descripcion del proyecto:</h1>
    <h2>-Se realiza el registro de datos del empleado</h2>
    <h2>-Se realiza el registro de datos de cargo con el salario basico</h2>
    <h2>-Se realiza el registro de sueldo del empleado, descuento del salario, años de antiguedad, bono</h2>
    <h1>Mostrar datos y resultados</h1>
    <h1>Busqueda de cada campo</h1>
    <h1>Validaciones</h1>
    <h1>Diseño Amigable</h1>
    <h1>Diseño Amigable</h1>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>